/* typography (font-family is handled by Typekit) */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "clig";
  -webkit-font-feature-settings: "liga", "clig";
  font-feature-settings: "liga", "clig";
}

h1 {
  font-size: 36px;
}

.site-header h2 {
  margin: 10px 0 25px 0;
  font-size: 24px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 50px
  }

  .site-header h2 {
    font-size: 30px;
  }
}

p {
  font-size: 16px;
  line-height: 1.5;
}

p a {
  text-decoration: underline;
}

.site-header cite {
  font-style: italic;
}

.form-group {
  margin-bottom: 20px;
}

.form-group > label {
  font-size: 16px;
  font-weight: 500;
}

.checkbox,
.radio {
  margin: 0 0 10px 0;
}

.radio label {
  font-weight: 400;
}

aside > h2,
.reviews > h2 {
  margin: 0 0 10px 0;
}

.reviews > p {
  margin: 0 0 50px 0;
}

.review-title {
  margin: 15px 0 0 0;
  font-weight: 500;
  font-size: 25px;
  line-height: 1;
}

.review-headline {
  margin: 0;
  font-size: 18px;
  text-transform: capitalize;
}

.review-meta {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
}

.review-meta li {
  display: inline-block;
  margin: 0 7px 0 0;
  padding: 0 10px 0 0;
  font-size: 12px;
  border-right: 1px solid #333333;
}

.review-meta li:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.review p:last-of-type {
  margin-bottom: 0;
}




.site-footer p {
  font-size: 14px;
}

.site-footer p:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .site-footer .mine p {
    text-align: right;
  }
}




/* structure */

/* sticky footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 135px;
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 135px;
}


@media (min-width: 768px) {
  body {
    margin-bottom: 92px;
  }

  .site-footer {
    height: 92px;
  }

}






.site-header {
  background: #f1f1f1;
}

main {
  min-height: 600px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.search-form-wrapper,
.reviews {
  padding-top: 15px;
}

.search-form-wrapper {
  width: 100vw;
  padding: 15px;
  margin: 0 0 50px -15px;
  background: #f1f1f1;
}

@media (min-width: 768px) {
  main {
    min-height: 700px;
  }

  .search-form-wrapper {
    position: fixed;
    width: 220px;
    margin-left: -15px;
  }
}

@media (min-width: 992px) {
  .search-form-wrapper {

  }
}

@media (min-width: 1200px) {
  .search-form-wrapper {
    width: 278px;
  }
}

/*@media (min-width: 768px) {
  .reviews > * {
    padding-left: 15px;
  }
}*/

.review {
  margin: 0 0 50px 0;
  padding: 0 0 50px 0;
  border-bottom: 1px solid #333333;
}

.review:last-of-type {
  border: none;
}

.site-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f1f1f1;
}

.nyt-logo {
  position: relative;
  left: -7px;
}



@media (max-width: 767px) {
  .media-left {
    display: block;
  }
  .media-body {
    display: block;
    width: auto;
  }
  .review-image {
    display: inline-block;
  }
}




/* http://getbootstrap.com/getting-started/#support-ie10-width */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/* http://getbootstrap.com/getting-started/#support-printing */
@media print {
  .container {
    width: auto;
  }
}
