/* typography (font-family is handled by Typekit) */

h1 {
	font-size: 50px
}

p {
	font-size: 17px;
	line-height: 1.5;
}

.site-header cite {
	font-style: italic;
}

.media-heading {
	margin: 20px 0 15px;
	font-weight: 500;
	font-size: 25px;
	line-height: 1;
}







/* structure */
.site-header {
	background: red;
}

.media {
	margin: 0 0 20px 0;
}






/* http://getbootstrap.com/getting-started/#support-ie10-width */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/* http://getbootstrap.com/getting-started/#support-printing */
@media print {
  .container {
    width: auto;
  }
}
