<article class="review media">
  <div class="media-left">
    <a data-template-bind='[{"attribute": "href", "value": "reviewLink"}, {"attribute": "title", "value": "reviewTitle"}]'>
      <img class="review-image media-object" data-src="reviewImage" data-alt="reviewAlt" />
    </a>
  </div>
  <div class="media-body">
    <h3 class="review-title media-heading" data-content-append="display_title" data-link="reviewLink"><span class="critics-pick" data-content="criticsPick"></span> </h3>
    <ul class="review-meta">
      <li class="review-date"><time class="dateline" data-template-bind='[{"attribute": "datetime", "value": "publication_date"}, {"attribute": "contentAppend", "value": "publication_date", "formatter": "datePrettyFormatter"}]'>Published </time></li>
      <li class="review-byline" data-content-append="byline">By </li>
      <li class="review-rating" data-content="mpaa_rating"></li>
    </ul>
    <h4 class="review-headline" data-content="headline" data-format="lowerCaseFormatter"></h4>
    <p class="review-summary" data-content="summary_short"></p>
    <p><a data-template-bind='[{"attribute": "href", "value": "reviewLink"}, {"attribute": "title", "value": "reviewTitle"}]'>Read Review</a></p>
  </div>
</article>
