<article class="review media">
  <div class="media-left">
    <a data-href="reviewLink">
      <img class="review-image media-object" data-src="reviewImage" data-alt="reviewAlt" />
    </a>
  </div>
  <div class="media-body">
    <h2 class="review-title media-heading" data-content-append="reviewTitle"><span class="critics-pick" data-content="reviewCriticsPick"></span> </h2>
		<ul class="review-meta">
		  <li data-content="mpaa_rating"></li>
      <li><time class="dateline" datetime="2016-09-09" content="2016-09-09" data-content="publication_date"></time></li>
		</ul>
		<h3 class="review-headline" data-content="headline" data-format="lowerCaseFormatter"></h3>
    <p class="review-summary" data-content="summary_short"></p>
  </div>
</article>

<p data-content="reviewImage"></p>
<p data-content="reviewAlt"></p>